<!DOCTYPE html> 
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title></title>
     

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <style>
        body{
          background-image: url("\\media\\images\\homebg.avif");
          background-size: cover;
          background-position: center;
          font-family: 'Times New Roman', Times, serif;
        }
        li{
          margin-right: 10px;
        }
        a{
          color:plum;
        }
      </style>
    </head>
    <body >
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script>
        function calculateBMI() {
            // Get height and weight input values
            var height = document.getElementById('height').value;
            var weight = document.getElementById('weight').value;
            var resultElement = document.getElementById('result');

            if (isNaN(height) || isNaN(weight) || height <= 0 || weight <= 0) 
            {
                resultElement.innerHTML = 'Please enter valid positive numeric values for height and weight.';
            } else if (!Number.isInteger(parseFloat(height)) || !Number.isInteger(parseFloat(weight))) 
            {
              
                resultElement.innerHTML = 'Please enter whole numbers for height and weight.';
            } else if (height > 300 || height < 20 || weight > 200 || weight < 10)
             {
                
                resultElement.innerHTML = 'You are not able to find BMI right now.';
            } else
             {
                
                var heightInMeters = height / 100;
                var sq = heightInMeters * heightInMeters;
                var bmi = weight / sq;

                var bmiCategory = bmiCat(bmi);
                resultElement.innerHTML = 'Your BMI is: ' + bmi.toFixed(2) + '<br>Your BMI Category is: ' + bmiCategory;
            }

           
        }
        function bmiCat(bmi)
            {
                var bmiCategory;
                if (bmi < 18.5) {
                    bmiCategory = 'Underweight';
                } else if (bmi >= 18.5 && bmi < 24.9) {
                    bmiCategory = 'Normal Weight';
                } else if (bmi >= 25 && bmi < 29.9) {
                    bmiCategory = 'Overweight';
                } else {
                    bmiCategory = 'Obese';
                } 
                return bmiCategory;
            }
            
        </script>

      <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        
        <video width="140" height="90" autoplay loop muted>
          <source src="\media\videos\fh.mp4" type="video/mp4">
        </video>
      
        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link px-3" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" href="/work">WorkoutPlan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" href="/login">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
<br/>
    <h2 style="padding-left: 60px;color: aqua;">What is BMI ?</h2>
    <p style="padding-left: 60px;font-size: 20px;text-align:left;color: aliceblue;">
        BMI, or Body Mass Index, is a numerical measure of a person's body weight in relation to their height. <br>
        It is a commonly used screening tool to categorize individuals into different weight status categories
        and assess potential health risks associated with weight.
    </p><br>
    <section>
       <table border="4px" style="color: aliceblue;border-collapse: collapse;border-radius: 0vmax; border-style: solid;" align="center" cellpadding="100px">
            <tr>
                <td>
                    
                    <div style="text-align: left;">
                        
                    <h1 style="color: aqua;">BMI Calculator</h1><br>
                    <form id="bmiForm">
                        <label for="height">Height (cm):</label>
                        <input type="number" id="height" placeholder="Enter height in cm" required><br><br>
                
                        <label for="weight">Weight (kg):</label>
                        <input type="number" id="weight" placeholder="Enter weight in kg" required><br><br><br>
                
                        <button type="button" class="btn btn-light" id="but" onclick="calculateBMI()">Calculate BMI</button>
                    </form>
                    </div>
                </td>
                <td>
                    <div style="font-size: larger;">
                        <h2 style="color: aqua;">BMI Result:</h2>
                        <p id="result"></p>
                    </div>
                </td>
            </tr>
        </table>
        <br><br>
        <hr/>
    </section>

    

    </body>
</html>